<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">

    <input type="text" [value]="user().email" class="form-control mb-2" #txtEmail (input)="onFieldUpdated('email', txtEmail.value)">

    <input type="text" [value]="user().first_name" class="form-control mb-2" #txtFirstName (input)="onFieldUpdated('first_name', txtFirstName.value)">

    <input type="text" [value]="user().last_name" class="form-control mb-2" #txtLastName (input)="onFieldUpdated('last_name', txtLastName.value)">


  </div>
  <div class="col-6">
    <!-- data del usuario -->
    <pre>
     {{  user() | json }}
    </pre>

    {{ fullName() }}

    <button (click)="increaseBy(+1)" class="btn btn-primary">
      +1
    </button>
  </div>
</div>
